[Unit]
Description=EnsembleSync Celery Separation Worker
After=network-online.target redis-server.service postgresql.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/server
EnvironmentFile=/home/ubuntu/.env
ExecStart=/home/ubuntu/~ensemble/venv/bin/celery -A track_separate.celery_app worker --loglevel=info -Q separation --concurrency=1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
